/* CSS Variables */
:root {
  --background-color: hsla(210, 40%, 98%, 0.37);
  --text-color: hsl(20, 14%, 4%);
  --grid-size: 1rem;
  --grid-line-color: hsl(0, 0%, 88%);

  @media (prefers-color-scheme: dark) {
    --background-color: hsl(20, 14%, 4%);
    --text-color: hsl(60, 9%, 98%);
    --grid-line-color: hsl(0, 0%, 27%);
  }
}

/* Basic Reset & Body Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
