/* Fonts - Source code from: https://gwfh.mranftl.com */
/* ibm-plex-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src:
    url('./fonts/ibm-plex-sans-v22-latin/ibm-plex-sans-v22-latin-500.woff2') format('woff2'),
    url('./fonts/ibm-plex-sans-v22-latin/ibm-plex-sans-v22-latin-500.ttf') format('truetype');
}

/* ibm-plex-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('./fonts/ibm-plex-sans-v22-latin/ibm-plex-sans-v22-latin-700.woff2') format('woff2'),
    url('./fonts/ibm-plex-sans-v22-latin/ibm-plex-sans-v22-latin-700.ttf') format('truetype');
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/inter-v19-latin/inter-v19-latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v19-latin/inter-v19-latin-regular.ttf') format('truetype');
}

/* CSS Variables */
:root {
  --background-color: hsla(210, 40%, 98%, 0.37);
  --text-color: hsl(20, 14%, 4%);
  --grid-size: 1rem;
  --grid-line-color: hsl(0, 0%, 88%);

  @media (prefers-color-scheme: dark) {
    --background-color: hsl(20, 14%, 4%);
    --text-color: hsl(60, 9%, 98%);
    --grid-line-color: hsl(0, 0%, 27%);
  }
}

/* Basic Reset & Body Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
